/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 * * * * * * * * * * * * * * *  MIXINS * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

border-radius(n)
  -webkit-border-radius n
  -moz-border-radius n
  border-radius n
 
user-select(val)
  -webkit-user-select val
  -khtml-user-select val
  -moz-user-select val
  -ms-user-select val
  user-select val

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 * * * * * * * * * * * * * * * * STYLES  * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

html, body
  overflow hidden
  background black
  color white
  
#app
  #header
    padding-bottom 10px
    padding-top 60px
    text-align center
    width 100%
    
    &.animable
      transition height cubic-bezier(0.250, 0.460, 0.450, 0.940) 600ms

    &.small
      border-bottom solid 3px white
      height 340px
        
    &.full
      border-bottom none
      height 100%

    p 
      cursor default
      margin 0
      padding 0
      
    #title
      border-color white
      border-image-slice 33% 33%
      border-image-source url('../img/dots.svg')
      border-image-repeat round
      border-style dotted
      border-width 13px 0 13px 0
      color white
      font-family 'Lobster'
      font-size 100px
    
  #products
    width 100%
    
    md-divider
      margin-bottom 0
      margin-top 0

    md-list
      padding-top 0
      
    md-list-item > p,
    md-list-item > ._md-list-item-inner > p,
    md-list-item ._md-list-item-inner > p,
    md-list-item ._md-list-item-inner > ._md-list-item-inner > p
      user-select none
      
    md-list-item > button
      transform translateY(-10px)

  #footer
    border-top solid 3px white
    height 100px
    transform translateY(0px)
    
    width 100%
    transition all cubic-bezier(0.250, 0.460, 0.450, 0.940) 600ms
    
    &.collapsed
      transform translateY(100px)
      margin-top -100px
      
    &.raised
      transform translateY(0px)
      margin-top 0px


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 * * * * * * * * * * * * REUSABLE DIRECTIVES * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
 
// Expandable footer button 
#collapse-footer-button
  top -70px
  cursor pointer
  position relative
  transition all cubic-bezier(0.250, 0.460, 0.450, 0.940) 600ms
  width 100%
  
  &.expanded
    opacity 1
    
  &.collapsed
    opacity 0.5
  
  md-icon
    font-size 40px
    height 40px
    outline 0
    width 40px

.logo-avatar
  background-size 50px 50px
  background-position center
  border none
  border-radius 50%
  transition opacity 1s ease-in-out, border ease-in-out 500ms
  opacity 1.0
  
.logo-avatar:hover
  opacity 0.7
  
.unselectable
  user-select none 
  
.fadeable
  opacity 1.0
  
  &.ng-hide-add,
  &.ng-hide-remove
    transition all cubic-bezier(0.250, 0.460, 0.450, 0.940) 500ms
  
  &.ng-hide
    opacity 0.0

