/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 * * * * * * * * * * * * * * *  MIXINS * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

border-radius(n)
  -webkit-border-radius n
  -moz-border-radius n
  border-radius n
 
user-select(val)
  -webkit-user-select val
  -khtml-user-select val
  -moz-user-select val
  -ms-user-select val
  user-select val

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 * * * * * * * * * * * * * * * * STYLES  * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

/* TAGS VIEW */
html,
body
  overflow hidden

body
  width 100%
  height 100%
  margin 0
  padding 0
  background-color #FAFAFA
  
#app
  #header
    padding-bottom 10px
    padding-top 60px
    text-align center
    width 100%
    
    &.animable
      transition height cubic-bezier(0.250, 0.460, 0.450, 0.940) 600ms

    &.small
      border-bottom solid 3px white
      height 340px
        
    &.full
      border-bottom none
      height 100%

    p 
      cursor default
      margin 0
      padding 0
      
    #title
      border-color white
      border-image-slice 33% 33%
      border-image-source url('../img/dots.svg')
      border-image-repeat round
      border-style dotted
      border-width 13px 0 13px 0
      color white
      font-family 'Lobster'
      font-size 100px
    
  #products
    width 100%
    
    md-divider
      margin-bottom 0
      margin-top 0

    md-list
      padding-top 0
      
    md-list-item > p,
    md-list-item > ._md-list-item-inner > p,
    md-list-item ._md-list-item-inner > p,
    md-list-item ._md-list-item-inner > ._md-list-item-inner > p
      user-select none
      
    md-list-item > button
      transform translateY(-10px)

  #footer
    border-top solid 3px white
    height 100px
    transform translateY(0px)
    
    width 100%
    transition all cubic-bezier(0.250, 0.460, 0.450, 0.940) 600ms
    
    &.collapsed
      transform translateY(100px)
      margin-top -100px
      
    &.raised
      transform translateY(0px)
      margin-top 0px


/* LOGIN VIEW */
#portal
  width 100%
  height 100%

#login
  width 400px
  height 400px
    
#signup
  width 400px
  height 400px  

#login,
#signup
  > p
    span
      font-weight bold
      outline 0
      user-select none
      cursor pointer

/* PRINT VIEW */
.page
  width 170mm
  min-height 297mm
  padding 20mm
  margin 10mm auto
  border 1px #D3D3D3 solid
  background white
  box-shadow 0 0 5px rgba(0, 0, 0, 0.1)
  
.subpage
  color black
  height 257mm

.product-label
  position relative
  border-bottom 0.5px #CECECE solid
  border-left 0.5px #CECECE solid
  float left
  width 85mm
  height 64mm

.product-label > img
  position absolute
  right 0
  bottom 0

.label-price-before
  position relative
  
  &:after
    position absolute
    content ' '
    background-color red
    width 3px
    height 100px
    transform translateX(5px) translateY(5px) rotate(-70deg)

@page
  size A4
  margin 0
  
@media print
  html
  body
    width 210mm
    height 296mm
    
  .page
    margin 0
    width 210mm
    min-height 296mm
    
  .subpage
    height 256mm
    
  #print-button
    display none
    
  #pdf-button
    display none
    
  



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 * * * * * * * * * * * * REUSABLE DIRECTIVES * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
 
// Expandable footer button 
#collapse-footer-button
  top -70px
  cursor pointer
  position relative
  transition all cubic-bezier(0.250, 0.460, 0.450, 0.940) 600ms
  width 100%
  
  &.expanded
    opacity 1
    
  &.collapsed
    opacity 0.5
  
  md-icon
    font-size 40px
    height 40px
    outline 0
    width 40px

.logo-avatar
  background-size 50px 50px
  background-position center
  border none
  border-radius 50%
  transition opacity 1s ease-in-out, border ease-in-out 500ms
  opacity 1.0
  
.logo-avatar:hover
  opacity 0.7
  
.unselectable
  user-select none 
  
.fadeable
  opacity 1.0
  
  &.ng-hide-add,
  &.ng-hide-remove
    transition all cubic-bezier(0.250, 0.460, 0.450, 0.940) 500ms
  
  &.ng-hide
    opacity 0.0

