/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 * * * * * * * * * * * * * * *  MIXINS * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 * * * * * * * * * * * * * * * * STYLES  * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
html,
body {
  overflow: hidden;
  background: #000;
  color: #fff;
}
#app #header {
  padding-bottom: 10px;
  padding-top: 60px;
  text-align: center;
  width: 100%;
}
#app #header.animable {
  transition: height cubic-bezier(0.25, 0.46, 0.45, 0.94) 600ms;
}
#app #header.small {
  border-bottom: solid 3px #fff;
  height: 340px;
}
#app #header.full {
  border-bottom: none;
  height: 100%;
}
#app #header p {
  cursor: default;
  margin: 0;
  padding: 0;
}
#app #header #title {
  border-color: #fff;
  border-image-slice: 33% 33%;
  border-image-source: url("../img/dots.svg");
  border-image-repeat: round;
  border-style: dotted;
  border-width: 13px 0 13px 0;
  color: #fff;
  font-family: 'Lobster';
  font-size: 100px;
}
#app #products {
  width: 100%;
}
#app #products md-divider {
  margin-bottom: 0;
  margin-top: 0;
}
#app #products md-list {
  padding-top: 0;
}
#app #products md-list-item > p,
#app #products md-list-item > ._md-list-item-inner > p,
#app #products md-list-item ._md-list-item-inner > p,
#app #products md-list-item ._md-list-item-inner > ._md-list-item-inner > p {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#app #products md-list-item > button {
  transform: translateY(-10px);
}
#app #footer {
  border-top: solid 3px #fff;
  height: 100px;
  transform: translateY(0px);
  width: 100%;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 600ms;
}
#app #footer.collapsed {
  transform: translateY(100px);
  margin-top: -100px;
}
#app #footer.raised {
  transform: translateY(0px);
  margin-top: 0px;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 * * * * * * * * * * * * REUSABLE DIRECTIVES * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
#collapse-footer-button {
  top: -70px;
  cursor: pointer;
  position: relative;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 600ms;
  width: 100%;
}
#collapse-footer-button.expanded {
  opacity: 1;
}
#collapse-footer-button.collapsed {
  opacity: 0.5;
}
#collapse-footer-button md-icon {
  font-size: 40px;
  height: 40px;
  outline: 0;
  width: 40px;
}
.logo-avatar {
  background-size: 50px 50px;
  background-position: center;
  border: none;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  transition: opacity 1s ease-in-out, border ease-in-out 500ms;
  opacity: 1;
}
.logo-avatar:hover {
  opacity: 0.7;
}
.unselectable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.fadeable {
  opacity: 1;
}
.fadeable.ng-hide-add,
.fadeable.ng-hide-remove {
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 500ms;
}
.fadeable.ng-hide {
  opacity: 0;
}
