doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Tagr
    link(href="./favicon.ico" rel="shortcut icon" type="image/x-icon")
    include styles
    base(href="/")
  body(ng-app="app" ng-controller="trMainCtrl" ng-cloak)
  block main-content
  include scripts