doctype html
link(rel="stylesheet" href="/vendor/angular-material/angular-material.css")
link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster")
link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dosis:400,800,700")
link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
link(rel="stylesheet" type="text/css" href="/css/site.css")